<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Classification</title>
    <link
      rel="stylesheet"
      href="../static/style.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/upload.js"></script>
  </head>
  <body>
    <div class="ui container">
      <div></div>
      <h2 class="ui header">Video Classification</h2>
      <div class="ui form">
        <div class="field">
          <label for="url">Video URL:</label>
          <input type="text" id="url" placeholder="Enter video URL" />
        </div>
        <button class="ui button" id="classify-button">Classify</button>
      </div>
      <div id="result" class="ui message" style="display: none"></div>
    </div>
  </body>
</html>
